/* Initially, make the section invisible and slightly off-screen */
.Achievements-container {
    text-align: center;
    padding: 3rem;
    opacity: 0; /* Initially hidden */
    transform: translateY(30px); /* Slide in from below */
    transition: opacity 1s ease, transform 1s ease; /* Transition for fade and slide-up */
}

/* When the section is visible, apply the transition */
.Achievements-container.visible {
    opacity: 1;
    transform: translateY(0); /* Slide to its original position */
}

/* Other styles */
.Achievements-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Lastica', sans-serif;
    color: #ffffff;
    text-align: start;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-description {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.image-description span {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
}

.icon {
    width: 8rem;
    height: auto;
    margin-bottom: 1rem;
}

/* Optional: Responsive design */
@media (max-width: 768px) {
    .images-container {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

@media (max-width: 480px) {
    .icon {
        width: 6.5rem;
        height: 6.5rem;
    }
    .Achievements-title {
        font-size: 1.5rem;
    }
}
