.Achievements-container {
    text-align: center;
    padding: 3.75rem; /* Replaced from 3.125vw (60px) */
    background-color: #F2EFF4;
}

.Achievements-title {
    font-size: 2rem; /* Replaced from 4vw (32px) */
    margin-bottom: 2rem; /* Replaced from 5vw (32px) */
    font-family: 'Lastica', 'sans-serif';
    color: #b7b0ab;
    text-align: start;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* Replaced from 4vw (32px) */
    margin: 0 auto;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-description {
    margin-top: 1rem; /* Replaced from 5.21vw (16px) */
    font-size: 1.25rem; /* Replaced from 2vw (19.2px) */
    font-weight: bold;
    color: #333;
    position: relative;
}

.image-description span {
    display: inline-block;
    font-size: 1.5rem; /* Replaced from 2vw (24px) */
    font-weight: bold;
}

.icon {
    width: 6.25rem; /* Replaced from 25% */
    height: auto;
    margin-bottom: 1rem; /* Replaced from 1rem (16px) */
}

/* Optional: Responsive design */
@media (max-width: 768px) {
    .images-container {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

/* For better alignment and spacing on mobile */
@media (max-width: 480px) {
    .icon {
        width: 6.5rem; /* Replaced from 10.42vw (40px) */
        height: 6.5rem; /* Replaced from 10.42vw (40px) */
    }
    .Achievements-title{
        font-size: 1.5rem;
    }
}
