.slidebar-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #012441;
    padding: 0.625rem 0; /* Replaced from 0.7vw (10px) */
}

.slidebar {
    display: flex;
    flex-direction: row;
    animation: rotateWords 20s linear infinite;
}

.slidebar-item {
    margin-right: 0.3125rem; /* Replaced from 0.52vw (10px) */
    font-size: 2rem; /* Replaced from 3vw (32px) */
    font-family: 'Lastacia', 'sans-serif';
    color: #ffffff;
    white-space: nowrap;
}

/* Animation for rotating the words */
@keyframes rotateWords {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Percentage remains unchanged */
    }
}
@media (max-width: 480px) {
    .slidebar-item{
        font-size: 1rem; /* Replaced from 3vw (32px) */
    }
}
