/* Ensure the sections take full height */
.first-page{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}



.first-page {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height for the app container */
  width: 100vw; /* Ensure full width */
  background-image: url('./assets/background-gif.gif'); /* Path to your GIF */
  background-size: cover; /* Ensure the background fills the area */
  background-repeat: no-repeat;
  background-position: center;
}

.sections-container {
  flex: 1; /* Fill available space after the header */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  display: none; /* Hidden by default */
  height: 100%; /* Ensure sections take full height */
  width: 100%;
}

.section.active {
  display: block; /* Reveal when active */
}

header {
  height: auto;
  flex-shrink: 0; /* Prevent shrinking */
  width: 100%;
}

.mainview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Mobile-specific styles */
@media (max-width: 768px) {
  .first-page {
    overflow-y: auto; /* Enable scrolling */
  }

  .sections-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure sections take full width */
  }

  .section {
    display: block; /* Always show sections */
    margin-top: 20px; /* Add spacing between sections */
  }
}
